<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image with Image</title>
</head>
<body>
    <h1>Images from the Database</h1>

    <!-- Loop through each image in the 'images' list -->
    {% for image_data in images %}
        <div>
            <img src="data:image/jpeg;base64,{{ image_data }}" alt="Image from the server" style="max-width: 300px; max-height: 300px;"/>
        </div>
    {% endfor %}
</body>
</html>
